.root {
    position: absolute;
    top: -38px;
    left: 12px;
    z-index: 999;
}

.svg {
    display: inline-block;
    height: auto;
    width: 20%;
}

@media screen and (min-width: 650px) {
    .root{
        left: 171px;
        top: -72px;
    }

    .svg {
        width: 40%;
    }
}

@media screen and (min-width: 1045px) {
    .root{
        left: 300px;
        top: -93px;
    }

    .svg {
        width: 55%;
    }
}