@import url(//fonts.googleapis.com/css?family=Neonderthaw);
@import url(//fonts.googleapis.com/css?family=Roboto);

html {
  --button-color: white;
  --header-color: rgba(24, 0, 21, 0.8);
  --header-hidden-color: rgba(24, 0, 21, 0);
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
}

.root {
  position: relative;
}
